body {
  margin: 0;
  padding: 0;
  background-color: #0a0a0a;
  color: #f4f4f4;
  font-family: 'Rubik', sans-serif;
  line-height: 1.6;
}

a {
  color: #ffd700;
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

.logo {
  display: flex;
  align-items: center;
  color: #ffd700;
  font-weight: bold;
  font-size: 1.5rem;
  text-decoration: none;
}

.logo img {
  height: 40px;
  width: 40px;
  margin-right: 10px;
  border-radius: 50%;
}


/* Hero */
.contact-hero {
  position: relative;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  text-align: center;
  box-shadow: #111;
}

.contact-hero .overlay {
   background: rgba(0, 0, 0, 0.6);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.hero-text {
  position: relative;
  z-index: 2;
}

.hero-text h1 {
  font-size: 2.5rem;
  color: #ffd700;
}

.hero-text p {
  font-size: 1.2rem;
  color: #ccc;
}

/* Contact Cards */
.contact-details {
  background-color: #000000;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 5rem;
  padding: 4rem 7rem;
  text-align: center;
}

.contact-card {
  background-color: #302929;
  padding: 2rem;
  border-radius: 12px;
  box-shadow: 0 0 15px rgba(255, 215, 0, 0.08);
  transition: transform 0.3s ease, background-color 0.3s ease;
}

.contact-card:hover {
  transform: translateY(-6px);
  cursor: pointer;
  background-color: #91706c;
}

.contact-card i {
  font-size: 2rem;
  margin-bottom: 1rem;
  color: #ffd700;
}

.contact-card h3 {
  margin-top: 0.3rem;
  margin-bottom: 0.3rem;
  font-size: 1.3rem;
  color: #fff;
}

.contact-card p {
  color: #ccc;
  margin: 0 0.1rem;
  font-size: 0.95rem;
}

/* CTA Block */
.cta-block {
  padding: 4rem 1rem;
  text-align: center;
  background: rgba(0, 0, 0, 0.6);
}

.cta-block h2 {
  font-size: 2rem;
  margin-bottom: 1rem;
  color: #ffd700;
}

.cta-block p {
  font-size: 1.1rem;
  color: #ccc;
  margin-bottom: 2rem;
}

.cta-button {
  display: inline-block;
  background-color: #ffd700;
  color: #111;
  font-weight: bold;
  padding: 0.75rem 2rem;
  border-radius: 999px;
  transition: background 0.3s ease;
}

.cta-button:hover {
  background-color: #e5c100;
}

/* Footer */
.footer {
  color: #777;
  padding: 1rem;
  text-align: center;
  font-size: 0.9rem;
}

.scroll-behavior {
  scroll-behavior: smooth;
}

* {
  scrollbar-width: thin;
  scrollbar-color: #a9a925 #111;
}

@media (max-width: 580px){

  .contact-card {
  padding: 1.2rem;

}

  .contact-hero{
    height: 200px;
  }

  .contact-hero h1{
    font-size: 1.6rem;
  }

  .contact-hero p{
    font-size: 0.9rem;
  }

.cta-block h2 {
  font-size: 1.5rem;
}

.cta-block p {
  font-size: 0.8rem;
}

.footer{
  font-size: 0.8rem;
}

}

@media (max-width: 480px){

  .contact-card {
   width: 210px;
   height: 100px;
}

.contact-card h3 {
  margin-top: 0.1rem;
  margin-bottom: 0.1rem;
}
}

@media (max-width: 475px){

  .contact-card {
   width: 207px;
   height: 99px;
}
}

@media (max-width: 470px){

  .contact-card {
   width: 206px;
   height: 99px;
}
}

@media (max-width: 465px){

  .contact-card {
   width: 205px;
   height: 98px;
}
}

@media (max-width: 460px){

  .contact-card {
   width: 180px;
   margin-right: 10px;
}
}

@media (max-width: 445px){

  .contact-card {
   width: 170px;
}
}

@media (max-width: 430px){

  .contact-card {
   margin-right: 20px;
}
.contact-hero p{
  font-size: 0.85rem;
}
}

@media (max-width: 415px){

  .contact-card {
   margin-right: 20px;
   width: 150px;
   height: 97px;
}

.contact-card p{
    font-size: 0.9rem;
  }
}

@media (max-width: 400px){

  .contact-card {
   width: 142px;
   margin-right: 10px;
}
.contact-card p{
    font-size: 0.82rem;
  }
}

@media (max-width: 395px){

  .contact-card {
   width: 139px;
   height: 92px;
   margin-right: 10px;
}
.contact-card p{
    font-size: 0.81rem;
  }
}

@media (max-width: 390px){

  .contact-card {
   width: 137px;
   height: 89px;
   margin-right: 10px;
}
.contact-card p{
    font-size: 0.8rem;
  }
}

@media (max-width: 385px){

  .contact-card {
   width: 135px;
   height: 85px;
}
.contact-card p{
    font-size: 0.79rem;
  }
}

@media (max-width: 380px){

  .contact-card {
   width: 132px;
   height: 83px;
}
.contact-card p{
    font-size: 0.75rem;
  }
  .hero-text p{
    font-size: 0.8rem;
  }
  .cta-block p{
    font-size: 0.75rem;
  }
}

@media (max-width: 375px){

  .contact-card {
   width: 128px;
   height: 78px;
}
.contact-card p{
    font-size: 0.71rem;
  }
}

@media (max-width: 370px){

  .contact-card {
   width: 125px;
   height: 75px;
}
.contact-card p{
    font-size: 0.7rem;
  }
}